{% extends "layout.html" %}
{% block body %}
<form action={{url_for('addAmount')}} method="post" id="form">
  <div class="input-group">
    <input type="number" id="amount" name="amount" class="form-control" aria-label="Amount to add" autofocus>
    <div class="input-group-btn">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to
      </button>
      <div class="dropdown-menu">
        {% for type in types %}
          <a class="dropdown-item" href="#" onClick="addAmount({{type.id}})">{{type.name}}</a>
          <div role="separator" class="dropdown-divider"></div>
        {% else %}
          <a class="dropdown-item" href="#">NONE</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <input type="hidden" id="monthcode" name="monthcode">
  <input type="hidden" id="daycode" name="daycode">
  <input type="hidden" id="type" name="type">
  <input type="hidden" id="date" name="date">
</form>
<table class="table">
  <tbody>
    {% for item in last5 %}
    <tr>
      <td class="timeago">{{item.date}}</td>
      <td>{{item.name}}</td>
      <td>{{item.amount}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
