{% extends "layout.html" %}
{% block body %}
<h3>Monthly Report</h3>
<table class="table">
  <tbody>
    <tr>
      <td>Monthly Budget</td>
      <td class="text-right">{{report.monthbudget}}</td>
    </tr>
    <tr>
      <td>Currently Spent</td>
      <td class="text-right">{{report.monthspent}}</td>
    </tr>
    <tr>
      <td>Monthly Left</td>
      <td class="text-right">{{report.monthleft}}</td>
    </tr>
    <tr>
      <td>Daily Average</td>
      <td class="text-right">{{report.dailyavgspent}}</td>
    </tr>
    <tr>
      <td>Daily Allowance (for {{report.daysleft}} days)</td>
      <td class="text-right">{{report.dailyavgfuture}}</td>
    </tr>

  </tbody>
</table>
<table class="table">
  <tbody>
    {% for item in lastLog %}
    <tr>
      <td class="fmtdate">{{item.date}}</td>
      <td>{{item.name}}</td>
      <td class="text-right">{{formatMoney(item.amount, settings.decimalPlaces, settings.displayCurrency)}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
