{% extends "layout.html" %}
{% block body %}
<form class="form-signin" action={{url_for('login')}} method="POST">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputUsername" class="sr-only">Username</label>
  <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-sm-6"><button class="btn btn-lg btn-primary btn-block" type="submit" name="action" value="login">Log in</button></div>
    <div class="col-sm-6 text-right"><button class="btn btn-lg btn-outline-secondary btn-block" type="submit" name="action" value="create">Create Account</button></div>
  </div>
</form>
{% endblock %}
