{% extends "layout.html" %}
{% block body %}
<h3>Settings</h3>
<hr />
<p>&nbsp;</p>
<form action={{url_for('settingsUpdate')}} method="post">
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" name="password" class="form-control" placeholder="">
  </div>
  <div class="form-group">
    <label for="monthlyBudget">Monthly Budget</label>
    <input type="number" name="monthlyBudget" class="form-control" placeholder="{{settings.monthlyBudget}}">
  </div>
  <div class="form-group">
    <label for="monthlyBudget">Decimal Places</label>
    <input type="number" name="decimalPlaces" class="form-control" placeholder="{{settings.decimalPlaces}}">
  </div>
  <div class="form-group">
    <label for="monthlyBudget">Display Currency</label>
    <input type="text" name="displayCurrency" class="form-control" placeholder="{{settings.displayCurrency}}">
  </div>
  <div class="form-group">
    <label for="monthlyBudget">Exchange Rate</label>
    <input type="text" name="exchangeRate" class="form-control" placeholder="{{settings.exchangeRate}} == 1 home currency">
  </div>
  <button id="updateSettings" type="submit" class="btn btn-primary">Update</button>
</form>
<hr />
<p>&nbsp;</p>
<h4>Expense Types</h4>
<ul class="list-group">
  {% for type in types %}
  <li class="list-group-item">{{type[1]}}</li>
  {% endfor %}
  <li class="list-group-item">
    <form action="{{url_for('settingsAddType')}}" method="post" class="form-inline">
      <div class="form-group sm-6">
        <label for="newType" class="sr-only">New Expense Type</label>
        <input type="text" name="newtype" class="form-control" id="newType" placeholder="New Expense Type">
      </div>
      <button type="submit" class="btn btn-outline-primary">Add</button>
    </form>
  </li>
</ul>
{% endblock %}
