{% extends "layout.html" %}
{% block body %}
<form action={{url_for('settingsUpdate')}} method="post">
  <div class="form-group">
    <label for="monthlyBudget">Monthly Budget</label>
    <input type="number" name="monthlyBudget" class="form-control" placeholder="{{settings.monthlyBudget}}">
  </div>
  <div class="form-group">
    <label for="monthlyBudget">Decimal Places</label>
    <input type="number" name="decimalPlaces" class="form-control" placeholder="{{settings.decimalPlaces}}">
  </div>
  <div class="form-group">
    <label for="monthlyBudget">Display Currency</label>
    <input type="text" name="displayCurrency" class="form-control" placeholder="{{settings.displayCurrency}}">
  </div>
  <button id="updateSettings" type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
